:root {
  background-color: #BDA5AD;
  --m-magenta-pink: #B46169;
  --maroon: #874C63;
  --dark-blue: #2F4858;
  --white-smoke: #F6F2F2;
  --yellow: #FFCB62;
/*   text */
  --black: #000000;
  --white: #FFFFFF;
  --gray: #D9D9D9;
}